* {
    border: 1px solid rgb(247, 103, 103);
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
}

.section-1-container {
    background-color: #1F2937;
    color: white;
    padding: 20px 100px;
    margin: 0;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container {
    display: flex;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-right {
    padding: 20px;
}

button {
    align-self: flex-start;
}

.section-2-container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.box-container {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 110px;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    border: solid blue;
    margin: 0;
    width: 110px;
    height: 100px;
    border-radius: 8px;
}

.text {
    display: flex;
    align-items: center;
}



