* {
    border: 1px soli rgb(247, 103, 103);
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
}

.section-1-container {
    background-color: #1F2937;
    color: white;
    padding: 20px 15%;
    margin: 0;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 16px;
}

button {
    background-color: #3882F6;
    border: 1px solid black;
    color: white;
    padding: 3px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-container {
    display: flex;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.hero-right {
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.section-2-container {
    padding: 10px 15%;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    font-weight: bold;
}

.box-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 110px;
    text-align: center;
}

.box {
    border: 2px solid blue;
    margin: 0;
    width: 110px;
    height: 100px;
    border-radius: 8px;
}

.text {
    font-size: 12px;
    padding: 10px;
}

.section-3-container {
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 15%;
}

.quote {
    font-size: 24px;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.section-4-container {
    padding: 40px 15%;
    display: flex;
    justify-content: center;
}

.cta-box {
    background-color : #3882F6;
    color: white;
    padding: 20px 80px;
    border-radius: 8px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cta-title {
    font-weight: bold;
    font-size: 18px;
}

.cta-description {
    font-size: 10px;
    opacity: 80%;
}

.cta-button {
    background-color: #3882F6;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 7px;
    padding: 3px 10px;
    font-size: 14px;
    cursor: pointer;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}