* {
    border: 1px solid rgb(247, 103, 103);
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
}

.section-1-container {
    background-color: #1F2937;
    color: white;
    padding: 20px 100px;
    margin: 0;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container {
    display: flex;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-right {
    padding: 20px;
}

button {
    align-self: flex-start;
}



